.card {
  margin-top: 7px;
  margin-left: 10px;
  margin-right: 10px;
}

.button {
  margin-left: 5px;
}

.button2 {
  margin-bottom: 7px;
  margin-left: 10px;
  margin-right: 10px;
}

.default {
  margin-left: 10px;
}

.table {
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.blue {
  td {
    color: blue;
  }

  color: blue;
}
