<h1 class="default">ユーザ作成ページ</h1>
<mat-tab-group>
  <mat-tab label="通常ユーザ">
    <div class="left">
      <p class="default"><b>注意点</b></p>
      <p class="default"><b>１．ユーザ作成時に一時的にログアウト処理を行います。</b></p>
      <p class="default"><b>２．ログアウトされた場合、もう一度ログインすると、このページに戻って来るはずです。</b></p>
      <ng-container *ngIf="stat == false">
        <p>
          <mat-form-field appearance="legacy" class="default">
            <mat-label>メールアドレス</mat-label>
            <input matInput placeholder="test@axishineno.net" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="legacy" class="default">
            <mat-label>パスワード</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </p>
        <button mat-stroked-button (click)="userRegister()">登録</button>
      </ng-container>
      <ng-container *ngIf="stat">
        <p>IDは自動的に付与されるので<b>絶対に変更しないでください。</b></p>
        <p>uid項目に何も値がない場合はユーザ登録時に何かしらの動作で失敗しているので、連絡ください。</p>
        <p>
          <mat-form-field appearance="legacy" class="default">
            <mat-label>名前</mat-label>
            <input matInput placeholder="Placeholder" [formControl]="name" required>
            <mat-hint>例）日根野 太郎</mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="legacy" class="default">
            <mat-label>ID</mat-label>
            <input matInput placeholder="Placeholder" [formControl]="tId" required>
            <mat-hint>例）t00001</mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="legacy" class="default">
            <mat-label>ユーザーUID</mat-label>
            <input matInput placeholder="d9823dsFD....." [formControl]="uid" required>
            <mat-hint>例）d9823dsFD.....</mat-hint>
          </mat-form-field>
        </p>
        <button mat-stroked-button (click)="teacherCreate()">作成</button>
      </ng-container>
    </div>
  </mat-tab>
  <mat-tab label="UID登録">
    <div class="left">
      <p>
        <mat-form-field appearance="legacy" class="default">
          <mat-label>名前</mat-label>
          <input matInput placeholder="Placeholder" [formControl]="name" required>
          <mat-hint>例）日根野 太郎</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy" class="default">
          <mat-label>ID</mat-label>
          <input matInput placeholder="Placeholder" [formControl]="id" required>
          <mat-hint>例）t00001</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy" class="default">
          <mat-label>ユーザーUID</mat-label>
          <input matInput placeholder="d9823dsFD....." [formControl]="uid" required>
          <mat-hint>例）d9823dsFD.....</mat-hint>
        </mat-form-field>
      </p>
      <button mat-stroked-button (click)="uidRegistration()">登録</button>
    </div>
  </mat-tab>
</mat-tab-group>
