<h1 class="default">ユーザ作成ページ</h1>
<mat-tab-group>
  <mat-tab label="通常ユーザ">
    <div class="left">
      <p class="default"><b>ユーザ作成を済ませてから、この作業を行ってください。</b></p>
      <p>
        <mat-form-field appearance="legacy" class="default">
          <mat-label>名前</mat-label>
          <input matInput placeholder="Placeholder" [formControl]="name" required>
          <mat-hint>例）日根野 太郎</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy" class="default">
          <mat-label>ID</mat-label>
          <input matInput placeholder="Placeholder" [formControl]="id" required>
          <mat-hint>例）t00001</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy" class="default">
          <mat-label>ユーザーUID</mat-label>
          <input matInput placeholder="d9823dsFD....." [formControl]="uid" required>
          <mat-hint>例）d9823dsFD.....</mat-hint>
        </mat-form-field>
      </p>
      <button mat-stroked-button (click)="teacherCreate()">作成</button>
    </div>
  </mat-tab>
  <mat-tab label="管理者">
    <div class="left">
      <p class="default"><b>ユーザ作成を済ませてから、この作業を行ってください。</b></p>
      <p>
        <mat-form-field appearance="legacy" class="default">
          <mat-label>名前</mat-label>
          <input matInput placeholder="Placeholder" [formControl]="name" required>
          <mat-hint>例）日根野 太郎</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy" class="default">
          <mat-label>ID</mat-label>
          <input matInput placeholder="Placeholder" [formControl]="id" required>
          <mat-hint>例）t00001</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy" class="default">
          <mat-label>ユーザーUID</mat-label>
          <input matInput placeholder="d9823dsFD....." [formControl]="uid" required>
          <mat-hint>例）d9823dsFD.....</mat-hint>
        </mat-form-field>
      </p>
      <button mat-stroked-button (click)="adminCreate()">作成</button>
    </div>
  </mat-tab>
</mat-tab-group>
